@value textButton from "@klimadao/lib/theme/common.module.css";
<<<<<<< HEAD
=======
@value button from "@klimadao/lib/theme/typography.module.css";
>>>>>>> d159e4628282c6975be991c2186993dc40fd21da

.bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: not-allowed;
  z-index: 99;
}

.banner {
  cursor: default;
  align-self: center;
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
  background-color: var(--primary-variant);
  justify-items: center;
  align-items: center;
}

.banner_text {
  text-align: center;
}

.okButtonWrap {
  display: flex;
<<<<<<< HEAD
  justify-content: end;
  gap: 0.8rem;
=======
  align-items: center;
  gap: 1.6rem;
>>>>>>> d159e4628282c6975be991c2186993dc40fd21da
}

.okButton {
  composes: textButton;
  border: 2px solid var(--secondary);
<<<<<<< HEAD
  justify-self: end;
=======
  justify-self: flex-end;
}

.dontButton {
  composes: button;
  opacity: 0.5;
}

.dontButton:hover,
.dontButton:focus {
  opacity: 1;
>>>>>>> d159e4628282c6975be991c2186993dc40fd21da
}
