.addToWallet {
  padding: 0.8rem;
}
.addToWalletIcon:global(.MuiSvgIcon-root) {
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}
.addToWalletButton {
  padding: 0.8rem;
  margin-inline-start: -0.8rem;
}
.addToWalletButton img {
  width: 1.6rem;
  height: 1.6rem;
}
