@value bp-medium, bp-small, bp-large from "@klimadao/lib/theme/breakpoints.css";

/*
TEMP
*/

.prelaunch {
  max-width: 64rem;
  padding: 1.6rem;
  background-color: var(--surface-01);
  border: 1px dashed var(--secondary);
}

.testnet_warning {
  text-align: start;
}

.container {
  position: relative; /* new stacking context */
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface);
  min-height: 100vh;
  display: grid;
  /* |--|----|--| */
  grid-template-columns:
    [full-start] minmax(1.6rem, 1fr)
    [main-start] minmax(0, 140rem)
    [main-end] minmax(1.6rem, 1fr)
    [full-end];
  grid-template-rows: 1fr auto;
}


.header {
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 2rem 0;
}


.heroBackgroundContainer {
  pointer-events: none;
  grid-column: full;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.heroGradient {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--alt-bg);
  /* background: var(--dapp-bg); */
}

.heroSection {
  grid-column: main;
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 3.2rem; */
  align-content: baseline;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "balances"
    "main"
    "rebase"
    "newKlima";
}

#balances {
  grid-area: balances;
}
.main {
  grid-area: main;
}
#rebase {
  grid-area: rebase;
}
#newKlima {
  grid-area: newKlima;
}

.nav {
  display: none;
}

.textButton {
  composes: textButton from "@klimadao/lib/theme/common.module.css";
}
.textButtonMobile {
  color: white !important;
}
.textButtonMobile:disabled {
  opacity: 0.4;
  cursor: default;
}

.connectWalletButton,
.disconnectWalletButton {
  display: none;
  font-size: 1.2rem !important;
  margin: 0 1.2rem;
}
.connectWalletButtonMobile {
  composes: textButton from "@klimadao/lib/theme/common.module.css";
  display: unset;
  border: 2px dashed var(--secondary);
  justify-self: start;
}
.connectWalletButton:hover,
.connectWalletButtonMobile:hover {
  opacity: 1;
  border: 2px dashed var(--secondary-variant) !important;
}
.disconnectWalletButton,
.disconnectWalletButtonMobile {
  composes: textButton from "@klimadao/lib/theme/common.module.css";
  border: 2px dashed var(--surface-06);
  opacity: 0.7;
  justify-self: start;
}
.disconnectWalletButton:hover,
.disconnectWalletButtonMobile:hover {
  opacity: 1;
  border: 2px dashed var(--secondary) !important;
}

.main {
  justify-self: start;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: white;
  align-content: flex-start;
}

.invisibleColumn {
  height: 1px;
  visibility: hidden;
}

.footer {
  padding: 4.8rem 0rem;
  position: relative;
  grid-template-columns: inherit;
  display: grid;
  grid-column: full;
  gap: 0.8rem;
  background-color: rgb(22 22 22 / 75%);
}
.footer_bgImageContainer {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1; /* below content*/
  opacity: 0.15;
}
.footer_bgImageContainer img {
  transform: rotate(180deg);
}

.footer_content {
  grid-column: main;
  display: grid;
  gap: 2.4rem;
  justify-content: center;
  text-align: center;
}
.footer_logo {
  width: 20rem;
}
.footer_logo img {
  width: 100%;
}
.footer_content_nav {
  composes: body1 from "@klimadao/lib/theme/typography.module.css";
  display: grid;
  gap: 0.8rem;
}
.footer_content_nav a {
  color: white;
  opacity: 0.7;
  text-decoration: underline;
}

.mobileMenu {
  position: absolute;
  right: -7.5px;
  top: 27.5px;
}

.mobileMenuLink {
  composes: button from "@klimadao/lib/theme/typography.module.css";
  color: white !important;
}

.menuDropdown {
  background-color: #1e1e1e !important;
}

.backgroundOpacity {
  background-color: rgba(30, 30, 30, 0.7);
}
.mobileMenu svg {
  color: white;
  font-size: 30px;
}

.rightContainer {
  width: 100%;
}

.secondaryContainer {
  background-color: var(--dapp-bg);
  border-radius: 1.2rem;
  margin-bottom: 2.4rem;
  min-height: 25rem;
  padding: 2.8rem;
  display: grid;
  grid-gap: 1.6rem;
  gap: 1.6rem;
  width: 100%;
}

@media bp-small {
  .heroSection {
    grid-template-columns: 2fr;
    /* gap: 3.2rem; */
    align-content: baseline;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "main balances"
      "main rebase"
      "main newKlima";
  }
  .mobileMenu {
    display: none;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    align-self: start;
    justify-items: start;
  }

  .connectWalletButton {
    composes: textButton from "@klimadao/lib/theme/common.module.css";
    display: unset;
    border: 2px dashed var(--secondary);
    justify-self: start;
  }
  .disconnectWalletButton {
    display: unset;
  }
  .main {
    margin-left: 10.5rem;
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
  }

  .secondaryContainer {
    background-color: var(--dapp-bg);
    border-radius: 1.2rem;
    margin-bottom: 2.4rem;
    /* min-height: 25rem; */
    padding: 2.8rem;
    display: grid;
    grid-gap: 1.6rem;
    gap: 1.6rem;
    width: 100%;
  }

}

@media bp-medium {
  .testnet_warning {
    text-align: end;
    max-width: 25rem;
  }
  .container {
    /* |--|----|--| */
    grid-template-columns:
      [full-start] minmax(6.4rem, 1fr)
      [main-start] minmax(0, 140rem)
      [main-end] minmax(6.4rem, 1fr)
      [full-end];
  }
  .header {
    padding: 2rem 0;
  }
  .nav {
    justify-items: end;
  }
  .footer_logo {
    align-self: center;
  }
  .footer_content {
    grid-template-columns: auto auto;
  }
}

@media bp-medium {
  .connectWalletButton {
    justify-self: end;
  }
  .disconnectWalletButton {
    justify-self: end;
  }
  .nav {
    display: grid;
    gap: 0.8rem;
    padding-top: 3.2rem;
  }
  .footer {
    margin-top: 6.4rem;
  }
  .main {
    margin-left: 21rem;
    width: 74rem;
  }
}

@media bp-large {
  .header {
    padding: 2rem 0;
  }
  .logoContainer {
    width: 32rem;
  }
  .main {
    margin-left: 21rem;
    width: 74rem;
  }
}
