@value bp-medium, bp-small, bp-large from "@klimadao/lib/theme/breakpoints.css";

/*
TEMP
*/

.prelaunch {
  max-width: 64rem;
  padding: 1.6rem;
  background-color: var(--surface-01);
  border: 1px dashed var(--secondary);
}

.testnet_warning {
  text-align: start;
}

.container {
  position: relative; /* new stacking context */
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface);
  min-height: 100vh;
  display: grid;
  /* |--|----|--| */
  grid-template-columns:
    [full-start] minmax(1.6rem, 1fr)
    [main-start] minmax(0, 140rem)
    [main-end] minmax(1.6rem, 1fr)
    [full-end];
  grid-template-rows: 1fr auto;
}

.header {
  display: grid;
  gap: 2.4rem;
  position: relative;
  color: white;
  padding-top: 2.4rem;
}
.header_subtitle {
  composes: body1 from "@klimadao/lib/theme/typography.module.css";
  max-width: 64rem;
}
.header_leftCol {
  display: grid;
  gap: 1.6rem;
}
.logoContainer {
  width: 20rem;
}
.logoContainer img {
  max-width: 100%;
}

.heroBackgroundContainer {
  pointer-events: none;
  grid-column: full;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.heroGradient {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    115deg,
    #121212 21.2%,
    rgba(18, 18, 18, 0.750345) 44.88%,
    rgba(18, 18, 18, 0) 89.75%
  );
}
.heroBackgroundContainer img {
  object-position: 42% 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.heroSection {
  grid-column: main;
  display: grid;
  gap: 3.2rem;
  align-content: baseline;
  grid-template-rows: repeat(2, auto);
}
.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  align-self: start;
  justify-items: start;
}

.textButton {
  composes: textButton from "@klimadao/lib/theme/common.module.css";
}
.textButtonMobile {
  color: white !important;
}
.textButtonMobile:disabled {
  opacity: 0.4;
  cursor: default;
}

.connectWalletButton {
  composes: textButton from "@klimadao/lib/theme/common.module.css";
  border: 2px dashed var(--secondary);
  justify-self: start;
}
.connectWalletButtonMobile {
  margin-top: 8px;
  padding: 10px;
  border: 2px dashed var(--secondary);
}
.connectWalletButton:hover {
  opacity: 1;
  border: 2px dashed var(--secondary-variant) !important;
}
.disconnectWalletButton {
  composes: textButton from "@klimadao/lib/theme/common.module.css";
  border: 2px dashed var(--surface-06);
  opacity: 0.7;
  justify-self: start;
}
.disconnectWalletButtonMobile {
  margin-top: 8px;
  padding: 10px;
  border: 2px dashed var(--surface-06);
  opacity: 0.7;
  justify-self: start;
}
.disconnectWalletButton:hover {
  opacity: 1;
  border: 2px dashed var(--secondary) !important;
}

.main {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  position: relative;
  color: white;
  align-content: flex-start;
}

.invisibleColumn {
  height: 1px;
  visibility: hidden;
}

.footer {
  padding: 4.8rem 0rem;
  position: relative;
  grid-template-columns: inherit;
  display: grid;
  grid-column: full;
  gap: 0.8rem;
  background-color: rgb(22 22 22 / 75%);
}
.footer_bgImageContainer {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1; /* below content*/
  opacity: 0.15;
}
.footer_bgImageContainer img {
  transform: rotate(180deg);
}

.footer_content {
  grid-column: main;
  display: grid;
  gap: 2.4rem;
  justify-content: center;
  text-align: center;
}
.footer_logo {
  width: 20rem;
}
.footer_logo img {
  width: 100%;
}
.footer_content_nav {
  composes: body1 from "@klimadao/lib/theme/typography.module.css";
  display: grid;
  gap: 0.8rem;
}
.footer_content_nav a {
  color: white;
  opacity: 0.7;
  text-decoration: underline;
}

.mobileMenu {
  position: absolute;
  right: 0;
  top: 20px;
}

.menuDropdown {
  background-color: #1e1e1e !important;
}

.backgroundOpacity {
  background-color: rgba(30, 30, 30, 0.7);
}
.mobileMenu svg {
  color: white;
  font-size: 30px;
}

@media bp-medium {
  .testnet_warning {
    text-align: end;
    max-width: 25rem;
  }
  .container {
    /* |--|----|--| */
    grid-template-columns:
      [full-start] minmax(6.4rem, 1fr)
      [main-start] minmax(0, 140rem)
      [main-end] minmax(6.4rem, 1fr)
      [full-end];
  }
  .header {
    padding-top: 5.4rem;
  }
  .nav {
    justify-items: end;
  }
  .footer_logo {
    align-self: center;
  }
  .footer_content {
    grid-template-columns: auto auto;
  }
}

@media bp-medium {
  .header {
    grid-template-columns: 1fr 1fr;
  }
  .connectWalletButton {
    justify-self: end;
  }
  .disconnectWalletButton {
    justify-self: end;
  }
  .nav {
    display: grid;
    gap: 0.8rem;
    padding-top: 3.2rem;
  }
  .footer {
    margin-top: 6.4rem;
  }
}

@media bp-large {
  .header {
    padding-top: 6.4rem;
  }
  .logoContainer {
    width: 32rem;
  }
}
