@use "~@klimadao/lib/theme/breakpoints.scss";

.mobileCardsWrapper {
  width: fit-content;
  @include breakpoints.medium {
    width: 100%;
  }
}
.table {
  color: var(--lightmode-font-01);
  width: 100%;
}
.desktopOnly {
  display: none;

  @include breakpoints.medium {
    display: table;
  }
}

.mobileOnly {
  display: table;

  @include breakpoints.medium {
    display: none;
  }
}
