.container {
  background-color: #f5f5f7;
  color: #313131;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns:
    [full-start] minmax(0.8rem, 1fr)
    [main-start] minmax(0, 70rem)
    [main-end] minmax(0.8rem, 1fr)
    [full-end];
  grid-gap: 3.2rem;
  margin-top: 6rem;
}

.headerSection {
  display: grid;
  grid-column: main;
  grid-gap: 0.8rem;
  text-align: center;
  max-width: 42rem;
  justify-self: center;
  margin-bottom: 4rem;
}

.headerSection h1 {
  text-transform: uppercase;
}

.cardsSection {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full;
  padding-bottom: 5rem;
  row-gap: 2.4rem;
}

.cardsSection h3 {
  grid-column: main;
  text-transform: uppercase;
}

.cards {
  display: grid;
  grid-template-columns: inherit;
  row-gap: 4.8rem;
  grid-column: full;
}
