.container {
  grid-column: full;
  background-color: var(--surface-02);
  color: var(--font-01);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns:
    [full-start] minmax(0.8rem, 1fr)
    [main-start] minmax(0, 70rem)
    [main-end] minmax(0.8rem, 1fr)
    [full-end];
  grid-gap: 3.2rem;
}

.cardsSection {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full;
  padding-bottom: 5rem;
  row-gap: 2.4rem;
}

.articles {
  grid-column: main;
  text-transform: uppercase;
}

.cards {
  display: grid;
  grid-template-columns: inherit;
  row-gap: 4.8rem;
  grid-column: full;
}
