a {
  text-decoration: none;
  color: var(--bright-blue);
}
a:hover,
a:visited {
  color: var(--bright-blue);
}

[aria-modal="true"] ::-webkit-scrollbar-thumb {
  background-color: var(--surface-04);
  border: 0.4rem solid transparent;
  border-radius: 0.8rem;
  background-clip: padding-box;
  outline-offset: -1px;
}

[aria-modal="true"] ::-webkit-scrollbar {
  width: 1.6rem;
}

.mapboxgl-canvas {
  width: 100% !important;
}
