/** CarbonMark Specific Styling */

:root {
  --padding-small: 0.8rem;
  --padding-medium: 2rem;
}

body,
body[data-theme="theme-light"] {
  --surface-inverse-01: #202020;
  --font-inverse-01: #fff;
}

body[data-theme="theme-dark"] {
  --surface-inverse-01: #fff;
  --font-inverse-01: #313131;
}
