@use "~@klimadao/lib/theme/breakpoints.scss";

// Tables styling
.table {
  border-collapse: collapse;
  width: 100%;
}

.header {
  background-color: var(--lightmode-surface-02);
  @include breakpoints.medium {
    white-space: nowrap;
  }
  th,
  td {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-family: Poppins;
  }
}

.row {
  border-bottom: 0.1rem solid var(--lightmode-surface-02);
  td {
    padding: 1.2rem 0.8rem 1.2rem 0.8rem;
    font-size: 1.2rem;
  }
}

// Cards styling
.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0 0.6rem 1.4rem;
  gap: 0.8rem;
  border-left: 0.2rem solid var(--lightmode-font-03);
  font-size: 1.2rem;
}

.cardTitle {
  color: var(--lightmode-font-01);
  font-weight: bold;
}

.facts {
  display: flex;
  justify-content: space-between;
  color: var(--lightmode-font-01);
  opacity: 0.8;
}

.date {
  font-style: italic;
}

.badge {
  display: flex;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  background-color: var(--lightmode-font-03);
  width: fit-content;
  color: var(--brand-white);
}
