.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.2rem 2.4rem;
}

.button {
  white-space: nowrap;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  height: 4.8rem;
  color: var(--brand-white);
  background-color: var(--darkmode-surface-02);
  display: flex;
  justify-content: start;
  gap: 2rem;
  width: 100%;

  &:hover {
    background-color: var(--brand-blue);
  }

  &[aria-selected="true"] {
    background-color: var(--brand-blue);
  }
}
button.active {
  background-color: var(--brand-blue);
}
