@import url("https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,bold,italic&subset=latin,latin-ext");

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: Inter;
}

body[data-theme="theme-light"] {
  --surface-01: #f5f5f7;
  --surface-02: #202020;
  --surface-03: #f5f8fa;
  --surface-04: #ffffff;
  --surface-06: #ebf1f5;
  --surface-02-active: #303030;
  --text-color-01: #313131;
  --text-color-02: #9c9c9c;
  --text-color-03: #a1a1a1;
  --text-color-05: #0ba1ff;
  --text-color-06: #767676;
  --text-color-07: #cccccc;

  /* these are actually dark mode colors, but they're used for the footer*/
  --surface-05: #2a2a2a;
  --text-color-04: #fff;

  --box-shadow: 0 0.1rem 0.3rem 0 #0000001f;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: var(--text-color-05);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: Poppins;
}
