@value button, body2 from "@klimadao/lib/theme/typography.module.css";
@value bp-medium from "@klimadao/lib/theme/breakpoints.css";
@value textButton from "@klimadao/lib/theme/common.module.css";

.stakeCard {
  background-color: var(--dapp-bg);
  border-radius: 1.2rem;
  padding: 2.4rem;
  display: grid;
  gap: 1.6rem;
  padding-bottom: 15rem;
  width: 100%;
}

.stakeCard_header {
  display: grid;
  gap: 0.8rem;
  margin-bottom: 8rem;
}

.stakeCard_header p {
  max-width: 32rem;
  font-size: 1.2rem;
}

.stakeCard_header h2{
  font-size: 2.4rem;
}

.infoSection {
  display: grid;
  gap: 0.8rem;
}

.copyAddressButton {
  padding: 0.8rem;
}
.copyAddressButtonIcon:global(.MuiSvgIcon-root) {
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}

.addressRow {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.4rem;
  align-items: center;
}

@media bp-medium {
  .stakeCard {
    /* padding: 3.2rem; */
    min-width: 32rem;
  }
}
