@value button, body2 from "@klimadao/lib/theme/typography.module.css";
@value bp-medium from "@klimadao/lib/theme/breakpoints.css";
@value textButton from "@klimadao/lib/theme/common.module.css";

.stakeCard {
  align-self: center;
  max-width: 64rem;
  background-color: var(--surface-01);
  border-radius: 3.2rem;
  padding: 2.4rem;
  display: grid;
  gap: 3.2rem;
}

.stakeCard_header {
  display: grid;
  gap: 0.8rem;
}

.infoSection {
  display: grid;
  gap: 0.8rem;
}

.copyAddressButton {
  padding: 0.8rem;
}
.copyAddressButtonIcon:global(.MuiSvgIcon-root) {
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}

.addressRow {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.4rem;
  align-items: center;
}

@media bp-medium {
  .stakeCard {
    padding: 3.2rem;
    min-width: 64rem;
  }
}
