@import "~@klimadao/lib/theme/breakpoints.scss";

.global {
  @include desktop {
    display: flex;
    gap: 20px;
  }
}

.mainColumn {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.digitalCarbonPricingColumn {
  @include desktop {
    width: 360px;
  }
}
