@import url("https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,bold,italic&subset=latin,latin-ext");

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: Inter;
}

:root {
  --blue-1: #03045e;
  --blue-2: #0051b0;
  --blue-3: #0ba1ff;
  --blue-4: #88c2ff;
  --blue-5: #cce4ff;

  --brand-green: #00cc33;
  --brand-red: #fc3503;
  --brand-white: #ffffff;
  --brand-blue: #0ba1ff;

  --brand-background: #f5f8fa;
  --brand-border: #ebf1f5;

  --lightmode-surface-01: #2a2a2a;
  --lightmode-surface-02: #f5f5f7;
  --lightmode-surface-03: #f4f4f4;
  --lightmode-font-01: #313131;
  --lightmode-font-02: #767676;
  --lightmode-font-03: #a1a1a1;
  --darkmode-surface-01: #2a2a2a;
  --darkmode-surface-02: #202020;
  --darkmode-surface-03: #303030;
  --darkmode-font-01: #ffffff;
  --darkmode-font-03: #dddddd;
  --darkmode-font-03: #9c9c9c;

  --box-shadow: 0 0.1rem 0.3rem 0 #0000001f;
}

body[data-theme="theme-light"] {
  --surface-01: var(--lightmode-surface-01);
  --surface-02: var(--lightmode-surface-02);
  --surface-03: var(--lightmode-surface-03);
  --font-01: var(--lightmode-font-01);
  --font-02: var(--lightmode-font-02);
  --font-03: var(--lightmode-font-03);
}

body[data-theme="theme-dark"] {
  --surface-01: var(--darkmode-surface-01);
  --surface-02: var(--darkmode-surface-02);
  --surface-03: var(--darkmode-surface-03);
  --font-01: var(--darkmode-font-01);
  --font-03: var(--darkmode-font-02);
  --font-03: var(--darkmode-font-03);
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: var(--text-color-05);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: Poppins;
  margin-bottom: 0 !important;
}

.recharts-tooltip-wrapper {
  position: relative;
  z-index: 999;
}

/** Styles for the mui drawer 
 * FIXME: should we use a MuiTheme for this?
*/
.MuiDrawer-paper,
.MuiModal-backdrop {
  background-color: transparent;
}
