.priceChangeValue {
  display: flex;
  align-items: center;
}
.selectiveFee {
  display: flex;
  align-items: center;
  gap: 3px;
}
.selectiveFeeIcon {
  font-size: 10px;
  &:hover {
    color: var(--brand-blue);
  }
}
.tooltipText {
  font-size: 12px;
}
