.tile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color-01);
  border-bottom: 1px solid var(--text-color-03);
}
.header {
  display: flex;
  gap: 10px;
  font-size: 14px;
}
.headerText {
  [aria-describedby="title"] {
    font-weight: bold;
  }
}
.content {
  display: flex;
  justify-content: space-between;
}
.fact {
  display: flex;
  flex-direction: column;
  align-items: center;
  [aria-describedby="value"] {
    font-weight: bold;
    font-size: 24px;
  }
  [aria-describedby="label"] {
    text-transform: uppercase;
    font-size: 8px;
    color: var(--text-color-01);
  }
}
