@import "~@klimadao/lib/theme/breakpoints.scss";

.global {
  display: flex;
  gap: 2rem;
}

.twoColumns {
  @include desktop {
    display: flex;
    gap: 2rem;
  }

  & > div:first-child {
    width: 100%;
    flex-grow: 1;
  }

  & > div:nth-child(2) {
    @include desktop {
      max-width: 36rem;
    }
  }
}

.twoColumns {
  @include desktop {
    display: flex;
    gap: 20px;
  }

  & > div:first-child {
    width: 100%;
    flex-grow: 1;
  }

  & > div:nth-child(2) {
    @include desktop {
      max-width: 360px;
    }
  }
}

.cardStackedRows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.cardRow {
  min-height: 28.4rem;

  & > div {
    flex: 1 1 0;
  }

  @include desktop {
    display: flex;
    gap: 1rem;
  }
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}
