/** CarbonMark Data Specific Styling */
body,
body[data-theme="theme-light"] {
  --surface-01: #f5f5f7;
  --surface-02: #202020;
  --surface-03: #f5f8fa;
  --surface-04: #ffffff;
  --surface-02-active: #303030;
  --text-color-01: #313131;
  --text-color-02: #9c9c9c;
}
