/** CarbonMark Data Specific Styling */
body,
body[data-theme="theme-light"] {
  --surface-01: #f5f5f7;
  --surface-02: #202020;
  --surface-03: #F5F8FA;
  --surface-04: #FFFFFF;
  --surface-02-active: #303030;
  --text-color-01: #313131;
  --text-color-02: #9C9C9C;
}