.chartLegendText {
  color: var(--text-color-01);
  font-size: 1.2rem;
}

.tooltip {
  background-color: var(--surface-04);
  border: 0.1rem solid var(--surface-03);
  border-radius: 1.5rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  opacity: 0.9;
}

.tooltipItems {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;

  > div {
    padding: 1rem;
  }
}
