.heading {
  margin: 4.8rem 0 3.2rem;
}

.paragraph {
  margin: 2rem 0;
}

.blockQuote {
  border-left: 1rem solid var(--klima-green);
  margin: 1.5em 1rem;
  padding: 0.5em 1rem;
  quotes: "\201C""\201D""\2018""\2019";
}
.blockQuote:before {
  color: var(--klima-green);
  content: open-quote;
  font-size: 4rem;
  line-height: 1rem;
  margin-right: 0.25rem;
  vertical-align: -0.4rem;
}

.inlineImage {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.link {
  text-decoration: underline;
  color: var(--klima-green);
}

.link:visited {
  color: var(--klima-blue);
}

.li_content {
  display: inline;
}

.ul {
  margin: 2rem 0;
}

.ol {
  composes: body1 from "@klimadao/lib/theme/typography.module.css";
  margin: 2rem 0;
  margin-inline-start: 2.5rem;
}

.nestedUl {
  list-style-type: "- ";
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nestedOl {
  composes: body1 from "@klimadao/lib/theme/typography.module.css";
  list-style-type: lower-alpha;
  margin-inline-start: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-position: outside;
}
