@value bp-medium from "@klimadao/lib/theme/breakpoints.css";
@value textButton from "@klimadao/lib/theme/common.module.css";

.stakeCard {
  width: 100%;
  background-color: var(--dapp-bg);
  border-radius: 1.2rem;
  padding: 2.4rem;
  display: grid;
  gap: 0.6rem;
  padding-bottom: 15rem;
}

.buttonRow,
.stakeSwitch,
.inputsContainer,
.dataContainer {
  max-width: 32rem;
  margin: auto;
}

.stakeIcon {
  margin-right: 10px;
}

.stakeCard_header {
  display: grid;
  gap: 0.8rem;
  margin-bottom: 8rem;
}

.stakeCard_header p {
  max-width: 32rem;
  font-size: 1.2rem;
}

.stakeCard_header h2{
  font-size: 2.4rem;
}

.inputsContainer {
  display: grid;
  gap: 2rem;
}

.stakeSwitch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  padding: 0.5rem;
}
.switchButton {
  composes: button from "@klimadao/lib/theme/typography.module.css";
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  min-height: 5.2rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: var(--surface04);
  border-radius: 4px;
  font-size: 1.4rem;
}
.switchButton:hover {
  background-color: var(--surface-24);
}
.switchButton[data-active="false"] {
  color: rgb(203, 203, 203); /* off white */
  background-color: var(--alt-bg);
}
.switchButton[data-active="true"] {
  background-color: var(--primary);
  font-weight: bold;
}

.klimaBalanceBar {
  background-color: var(--surface-05);
  font-family: var(--font-family-heading);
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1.6rem;
  color: white;
  border: 1px solid var(--alt-bg);
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.2rem;
}

.stakeInput {
  min-width: 12rem;
  min-height: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: stretch;
  z-index: 1; /* cover advanced-settings border */
}
.stakeInput_input {
  min-width: 10rem;
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--dapp-bg);
  padding: 0.8rem 1.6rem;
  color: white;
  border: 1px solid var(--alt-bg);
  border-radius: 0.4rem;
  outline: none;
  font-family: monospace;
  font-size: 2rem;
}
.stakeInput_input::placeholder {
  font-size: 1.2rem;
  font-family: var(--font-family-heading);
}
.stakeInput input:focus {
  border-color: var(--secondary);
}
.stakeInput_input:disabled {
  opacity: 0.7;
}
.stakeInput_button {
  composes: button from "@klimadao/lib/theme/typography.module.css";
  background-color: var(--primary);
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-variant);
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 0.4rem;
  cursor: default;
  font-size: 1.2rem;
}
.stakeInput_button:hover:not(:disabled) {
  background-color: var(--surface-24);
  cursor: pointer;
}
.stakeInput_button:focus {
  background-color: var(--primary-variant);
}
.stakeInput_button:disabled {
  opacity: 0.6;
}

.infoIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  min-width: 2.4rem;
  min-height: 2.4rem;
}
.infoIconWrapper :global(svg) {
  width: 1.2rem;
  height: 1.2rem;
}

.dataContainer {
  /* composes: body2 from "@klimadao/lib/theme/typography.module.css"; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
}
.dataContainer_address {
  font-family: monospace;
  text-align: center;
  color: var(--gray);
  margin: 2rem auto;
}
.dataContainer_row {
  display: grid;
  /* gap: 0.5em; */
}
.dataContainer_label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* because the info icon has whitespace, it makes the center column gap look off center */
  margin-right: -1rem;
  text-align: end;
  color: var(--surface-07);
  font-size: 1rem;
  font-family: var(--font-family-heading);
}


.dataContainer_label > div {
  margin-left: -.3rem;
}

.dataContainer_value {
  color: var(--gray);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
}
.dataContainer_value span {
  font-size: 1.2rem;
  color: white;
}
.dataContainer_value span[data-warning="true"] {
  color: rgb(248, 152, 27);
}

.buttonRow {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttonRow_spinner {
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
}
.submitButton {
  composes: textButton;
  /* border: 2px solid var(--secondary); */
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--alt-bg);
  color: var(--surface-07) !important;
  opacity: 1 !important;
  height: 5.2rem;
  width: 32rem;
  font-size: 1.4rem;
  font-family: var(--font-family-heading);
}
.submitButton:not(:disabled) {
  background-color: var(--primary);
}

.submitButton:not(:disabled):hover {
  background-color: var(--secondary-variant);
}

.statusMessage {
  composes: body1 from "@klimadao/lib/theme/typography.module.css";
  text-align: center;
  color: var(--gray);
}

@media bp-medium {
  .stakeCard {
    padding: 3.2rem;
    min-width: 40rem;
  }
}
