@use "~@klimadao/lib/theme/breakpoints.scss";

.article {
  margin-bottom: 4.4rem;

  h2 {
    font-size: 2rem;
  }

  p {
    margin-top: 0.8rem;
  }

  @include breakpoints.desktop {
    width: 72rem;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 2.4rem;
    }

    p {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }
}

.bannerContainer {
  max-width: 1132px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  width: 100%;
  height: auto;
  object-fit: contain;
}
