/* TODO: reapply those modifs in styles. ts and remove this file */
.cardContainer {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  min-height: 284px;
  height: 284px;
  background-color: var(--surface-04);
  padding: 12px;
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-bottom: 27px;
}

.cardTitle {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
}

.cardContent {
  flex: 1 1 auto;
}

.cardDetailsLink {
  display: flex;
  color: var(--text-color-05);
  text-decoration: none;
  align-items: center;
}
