.cardContainer {
  box-shadow: 0px 1px 3px 0px #0000001f;
  min-height: 284px;
  height: 284px;
  background-color: var(--surface-04);
  padding: 12px;
  display: flex;
  flex-flow: column;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardContent {
  flex: 1 1 auto;
}
