@import "~@klimadao/lib/theme/breakpoints.scss";

.tabButton {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.6rem;
}

.mobileOnly {
  @include large {
    display: none;
  }
}

.desktopOnly {
  display: none;

  @include large {
    display: unset;
  }
}

.noPadding {
  padding-left: 0;
  padding-right: 0;
}
