@value bp-medium from "@klimadao/lib/theme/breakpoints.css";

.container {
  background-color: var(--background);
  color: black;
}
.banner {
  position: relative;
  padding: 1.6rem 1.6rem 0rem;
}
.bannerImage {
  height: 20rem;
  position: relative;
}

@media bp-medium {
  .banner {
    position: relative;
    padding: 3.2rem 3.2rem 0rem;
  }
}

.blogContainer {
  padding: 3rem 0;
  color: #313131;
  line-height: 166%;
  display: grid;
  grid-template-columns:
    [full-start] minmax(0.8rem, 1fr)
    [main-start] minmax(0, 70rem)
    [main-end] minmax(0.8rem, 1fr)
    [full-end];
}
.content {
  grid-column: main;
}
.title {
  line-height: 4.8rem;
  font-weight: 800;
}
.date {
  margin: 2rem 0;
  color: #a1a1a1 !important;
}

.inlineImage {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
