@use "~@klimadao/lib/theme/breakpoints.scss";

.header {
  margin-top: 1.6rem;
  margin-bottom: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoints.desktop {
    margin-top: 4.6rem;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @include breakpoints.desktop {
    gap: 2rem;
    flex-direction: row;
    align-items: center;
  }
}

.title {
  display: flex;
  gap: 0.8rem;
  font-size: 2.4rem;
  margin: 0;

  span[role="button"] {
    color: var(--text-color-01);
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  @include breakpoints.desktop {
    font-size: 3.2rem;
  }
}

.subheading {
  text-decoration: underline;
}

.buttons {
  display: none;

  @include breakpoints.desktop {
    display: flex;
    gap: 1.2rem;
  }
}

.exploreButton {
  white-space: nowrap;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  height: 4.8rem;
  color: var(--text-color-04);
  background-color: var(--text-color-05);

  &:hover {
    background-color: var(--text-color-05);
  }
}
