@import "~@klimadao/lib/theme/breakpoints.scss";

.desktopSidebar {
  display: none;

  @include desktop {
    position: fixed;
    width: 18rem;
    overflow: auto;
    padding: 4.8rem 2rem 4.8rem 2rem;
    gap: 4rem;
    display: grid;
    text-align: center;
    background-color: var(--surface-04);
  }

  [aria-describedby="title"] {
    padding: 2rem 0 2rem 0;
    border: 0.1rem solid;
    border-left: none;
    border-right: none;
    border-color: var(--text-color-03);
    color: var(--text-color-01);
    height: 6rem;
    width: 18rem;
    display: grid;
    align-items: center;
    font: Inter;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  [aria-describedby="links"] {
    width: 18rem;
    display: grid;
    gap: 1.6rem;
    padding-bottom: 4rem;
    border-bottom: 0.1rem solid var(--text-color-03);
  }
}

.desktopSidebarItem {
  width: 18rem;
  height: 4.8rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: none;
  gap: 1.2rem;
  color: #767676;

  &[aria-selected="true"] {
    background-color: var(--surface-01);
    border-radius: 0.8rem;
    color: var(--text-color-01);

    /**
     * @todo this is kinda hacky */
    span {
      background-color: var(--text-color-05);
      color: var(--text-color-04);
    }
  }
}

.desktopSidebarIcon {
  border-radius: 0.6rem;
  background-color: var(--surface-01);
  color: var(--text-color-01);
  width: 3.2rem;
  height: 3.2rem;

  svg {
    width: 2rem;
    height: 2rem;
    margin: 0.6rem;
  }
}

.mobileHeader {
  height: 6.4rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  justify-content: space-between;

  @include desktop {
    display: none;
  }
}

.mobileNavButtons {
  display: flex;
  gap: 1.6rem;
}

.mobileBottomNav {
  position: sticky;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: var(--surface-02);
  flex-direction: row;
  justify-content: space-evenly;

  @include desktop {
    display: none;
  }

  > * {
    flex: 1;
  }
}

.mobileBottomNavItem {
  display: flex;
  padding: 0.4rem;
  height: 3.6rem;
  justify-content: center;
  align-items: center;

  &[aria-selected="true"] {
    background-color: var(--surface-02-active);
    color: var(--text-color-05);
  }

  color: var(--text-color-02);

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.main {
  padding: 0 1.6rem;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  height: 100dvh;
  background-color: var(--surface-03);

  @include desktop {
    margin-left: 22rem;
  }

  h1 {
    margin-top: 4.6rem;
    margin-bottom: 2.6rem;
  }
}

.mobileMenuButton {
  min-width: 4.8rem;
  min-height: 4.8rem;
  width: 4.8rem;
  height: 4.8rem;
  color: var(--text-color-01);
  background-color: var(--surface-01);

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.footer {
  background-color: var(--surface-05);
  color: var(--text-color-04);
  padding: 4rem 2.4rem;

  display: grid;
  gap: 4rem;
  align-items: center;

  @include desktopLarge {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: var(--text-color-04);
  }
}

.footerNavLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.6rem;

  @include desktop {
    gap: 3.2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    white-space: nowrap;
  }
}

.footerSocialLinks {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-between;

  @include large {
    justify-content: center;
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.mobileOnly {
  @include large {
    display: none;
  }
}

.desktopOnly {
  display: none;

  @include large {
    display: unset;
  }
}
