@import "~@klimadao/lib/theme/breakpoints.scss";

.desktopSidebar {
  display: none;

  @include desktop {
    position: fixed;
    width: 180px;
    overflow: auto;
    padding: 48px 20px 48px 20px;
    gap: 40px;
    display: grid;
    text-align: center;
    background-color: var(--surface-04);
  }

  [aria-describedby="title"] {
    padding: 20px 0px 20px 0px;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-color: var(--text-color-03);
    color: var(--text-color-01);
    height: 60px;
    width: 180px;
    display: grid;
    align-items: center;
    font: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  [aria-describedby="links"] {
    width: 180px;
    display: grid;
    gap: 16px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--text-color-03);
  }
}

.desktopSidebarItem {
  width: 180px;
  height: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: none;
  gap: 12px;
  color: #767676;

  &[aria-selected="true"] {
    background-color: var(--surface-01);
    border-radius: 8px;
    color: var(--text-color-01);

    /**
     * @todo this is kinda hacky */
    span {
      background-color: var(--text-color-05);
      color: var(--text-color-04);
    }
  }
}

.desktopSidebarIcon {
  border-radius: 6px;
  background-color: var(--surface-01);
  color: var(--text-color-01);
  width: 32px;
  height: 32px;

  svg {
    width: 20px;
    height: 20px;
    margin: 6px;
  }
}

.mobileHeader {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 16px;
  justify-content: space-between;

  @include desktop {
    display: none;
  }
}

.mobileNavButtons {
  display: flex;
  gap: 16px;
}

.mobileBottomNav {
  position: sticky;
  bottom: 0px;
  display: flex;
  width: 100%;
  background-color: var(--surface-02);
  flex-direction: row;
  justify-content: space-evenly;

  @include desktop {
    display: none;
  }

  > * {
    flex: 1;
  }
}

.mobileBottomNavItem {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;

  &[aria-selected="true"] {
    background-color: var(--surface-02-active);
    color: var(--text-color-05);
  }

  color: var(--text-color-02);
}

.main {
  padding: 0 16px;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  height: 100dvh;
  background-color: var(--surface-03);

  @include desktop {
    margin-left: 220px;
  }

  h1 {
    margin-top: 46px;
    margin-bottom: 26px;
  }
}

.mobileMenuButton {
  min-width: 48px;
  min-height: 48px;
  width: 48px;
  height: 48px;
  color: var(--text-color-01);
  background-color: var(--surface-01);

  svg {
    width: 24px;
    height: 24px;
  }
}

.footer {
  background-color: var(--surface-05);
  color: var(--text-color-04);
  padding: 40px 24px;

  display: grid;
  gap: 40px;
  align-items: center;

  @include desktopLarge {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: var(--text-color-04);
  }
}

.footerNavLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.875rem;
  gap: 16px;

  @include desktop {
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    white-space: nowrap;
  }
}

.footerSocialLinks {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  @include large {
    justify-content: center;
  }
}

.mobileOnly {
  @include large {
    display: none;
  }
}

.desktopOnly {
  display: none;

  @include large {
    display: unset;
  }
}
