@value bp-small, bp-medium, bp-large from "@klimadao/lib/theme/breakpoints.css";

/* COMPONENTS */
.card {
  background-color: var(--surface-01);
  padding: 1.6rem;
}

/* PAGE */
.container {
  position: relative; /* new stacking context */
  z-index: 0;
  background-color: var(--surface);
  min-height: 100vh;
  display: grid;
  /* |--|----|--| */
  grid-template-columns:
    [full-start] minmax(1.6rem, 1fr)
    [main-start] minmax(0, 140rem)
    [main-end] minmax(1.6rem, 1fr)
    [full-end];
}

.heroBgImgContainer {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: -1; /* below content*/
  opacity: 0.75;
}
.heroBgImgContainer img {
  transform: rotate(180deg);
  object-position: 69% 50%;
}
.heroGradient {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    115deg,
    #121212 21.2%,
    rgba(18, 18, 18, 0.750345) 44.88%,
    rgba(18, 18, 18, 0) 89.75%
  );
  position: absolute;
  z-index: -1; /* below content*/
}
.heroBackgroundContainer {
  /* allow hero to grow beyond 100vh, gives images/gradient something to expand to */
  grid-column: full;
  position: relative;
  grid-template-columns: inherit;
  display: grid;
}
.heroSection {
  grid-column: main;
  display: grid;
  gap: 3.2rem;
  min-height: 100vh;
  align-content: baseline;
  grid-template-rows: repeat(3, auto) 1fr;
}
.heroSection p {
  max-width: 46rem;
}

.logoContainer {
  width: 20rem;
  padding-top: 4.8rem;
}

.buttonsContainer {
  display: grid;
  gap: 0.8rem;
}
/* anchor tag OR button */
.iconButton {
  composes: button from "@klimadao/lib/theme/typography.module.css";
  color: white !important;
  border: 2px solid var(--primary);
  justify-self: start;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 1rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  align-items: center;
  align-content: center;
}
.iconButton:hover {
  background-color: var(--primary-variant);
}
.iconButton svg {
  font-size: 2rem;
}
.discordIcon {
  width: 2rem;
  height: 2rem;
}

.stack {
  display: grid;
  gap: 1.6rem;
}

.centeredCard {
  composes: card;
  text-align: center;
  display: grid;
  gap: 2.4rem;
  grid-column: main;
  max-width: 768px;
  justify-self: center;
  padding: 2.4rem;
}
.centeredCard_title {
  composes: h5_decorative from "@klimadao/lib/theme/typography.module.css";
}
.secondaryAccent {
  color: var(--secondary);
}
.centeredCard_text {
  composes: body1 from "@klimadao/lib/theme/typography.module.css";
}

.dataCardsContainer {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  align-self: flex-end;
}
.dataCard {
  composes: card;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: start;
}
.dataCard_priceTag {
  composes: h5 from "@klimadao/lib/theme/typography.module.css";
  color: var(--secondary);
}
.dataCardColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.6rem;
}
.chartCard {
  composes: dataCard;
  justify-self: start;
  gap: 1.6rem;
}
.treasuryBalance {
  display: flex;
  gap: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.treasuryBalance_value {
  composes: h4 from "@klimadao/lib/theme/typography.module.css";
  color: var(--secondary);
}
.emissionsValue {
  color: var(--secondary-variant);
}
.dividerSection {
  border-top: 0.2rem solid var(--surface-04);
  border-bottom: 0.2rem solid var(--surface-04);
  background-color: var(--surface);
  grid-template-columns: inherit;
  display: grid;
  grid-column: full;
  padding: 3.6rem 0rem;
}

.dividerSectionText {
  composes: h5_decorative from "@klimadao/lib/theme/typography.module.css";
  grid-column: main;
  text-align: center;
  justify-self: center;
}

.poweredBySection {
  composes: dividerSection;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poweredBySection :global(a) {
  max-width: 24rem;
}

.graphicSection {
  grid-column: full;
  padding: 3.2rem;
  border: tester;
}

.scrollArrowNudge {
  display: flex;
  justify-content: center;
  margin-top: -2.4rem;
}
.scrollArrowNudge svg {
  transform: rotate(270deg);
  font-size: 4.8rem;
}

.footer {
  padding: 4.8rem 0rem;
  position: relative;
  grid-template-columns: inherit;
  display: grid;
  grid-column: full;
  gap: 0.8rem;
}
.footer_bgImageContainer {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1; /* below content*/
  opacity: 0.15;
}

.footer_content {
  grid-column: main;
  display: grid;
  gap: 2.4rem;
  justify-content: center;
  text-align: center;
}
.footer_logo {
  width: 20rem;
}
.footer_content_nav {
  composes: body1 from "@klimadao/lib/theme/typography.module.css";
  display: grid;
  gap: 0.8rem;
}
.footer_content_nav a {
  color: white;
  opacity: 0.7;
  text-decoration: underline;
}

@media bp-medium {
  .container {
    /* |--|----|--| */
    grid-template-columns:
      [full-start] minmax(6.4rem, 1fr)
      [main-start] minmax(0, 140rem)
      [main-end] minmax(6.4rem, 1fr)
      [full-end];
  }
  .logoContainer {
    padding-top: 5.4rem;
  }
  .footer_logo {
    align-self: center;
  }
  .footer_content {
    grid-template-columns: auto auto;
  }
}

@media bp-large {
  .logoContainer {
    width: 32rem;
    padding-top: 7.2rem;
  }
}
