@use "~@klimadao/lib/theme/breakpoints.scss";

.card {
  @include breakpoints.large {
    height: 28.4rem;
    min-height: 28.4rem;
  }
}
.wrapper {
  line-height: normal;
  height: 100%;
  display: flex;
  flex-direction: column;
  & > div:nth-child(1) {
    flex: 10 1 0;
  }
  & > div:nth-child(2) {
    flex: 0 0 0;
    display: flex;
    justify-content: center;
  }
  @include breakpoints.large {
    flex-direction: row;
    align-items: center;
  }
}
.wrapperDetailsPage {
  & > div {
    @include breakpoints.desktopLarge {
      min-width: 46rem;
    }
  }
}
.issuedvsTokenizedWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  div[aria-describedby="chart"] {
    max-width: calc(100% - 1rem);
    height: 2.4rem;
  }
}
.issuedvsRetiredWrapper {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 14rem;
}
.pieChartWrapper {
  max-width: calc(100% - 1rem);
  min-width: calc(100% - 1rem);
  height: 14rem;

  position: relative;
  flex-grow: 10;
}
.pieChartInnerLegend {
  div[aria-describedby="value"] {
    font-size: 1.6rem;
  }
}
.pieChartBottomLegend {
  line-height: normal;
}
.smallLabel {
  font-size: 0.8rem;
}
.fact {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.value {
  font-size: 2rem;
  color: var(--lightmode-font-01);
  font-weight: 500;
  text-wrap: nowrap;
}
.highlight {
  color: var(--brand-green);
}
// Layout adjustments for dettail page
[aria-roledescription="detailPage"] {
  &.card {
    height: auto;
  }
  .issuedvsRetiredWrapper {
    width: 24rem;
  }
  .pieChartWrapper {
    min-height: 24rem;
    height: 24rem;
  }
}
