@use "~@klimadao/lib/theme/breakpoints.scss";

.tabButton {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.6rem;
}

.mobileOnly {
  @include breakpoints.large {
    display: none;
  }
}

.topPadding {
  padding: 0;

  @include breakpoints.large {
    padding: 2rem 0 0 0;
  }
}

.tabList {
  display: none;

  @include breakpoints.large {
    display: unset;
  }
}

.tabRoot {
  @include breakpoints.desktopLarge {
    position: relative;
  }
}

.mobileTabSelectorWrapper {
  position: sticky;
  top: 0;
  padding-top: 0.8rem;
  z-index: 700;
  height: 6.4rem;
  background-color: var(--brand-background);

  @include breakpoints.large {
    display: none;
  }
}

.optionsSwitchers {
  position: sticky;
  top: 6.4rem;
  z-index: 700;
  background-color: var(--brand-background);
  display: grid;
  justify-content: space-between;
  row-gap: 0.8rem;
  padding: 0.8rem 0;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-template-areas:
    "three"
    "one"
    "two";
  @include breakpoints.large {
    top: 0;
  }
  @include breakpoints.desktopLarge {
    grid-template-areas: "one two three";
    grid-template-columns: auto;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: end;
    margin-top: 1rem;
  }
}
.optionsSwitchersWithoutTabs {
  position: relative;
}

.optionsSwitcherWrapper {
  &:nth-child(1) {
    grid-area: one;
  }
  &:nth-child(2) {
    grid-area: two;
  }
  &:nth-child(3) {
    grid-area: three;
  }

  @include breakpoints.desktopLarge {
    &:not(:first-child) {
      margin-left: 2rem;
    }
  }
}

.optionsSwitcher {
  width: 100%;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    flex: 1;
  }

  @include breakpoints.desktopLarge {
    width: min-content;
    flex: 0;
    li {
      height: min-content;
    }
  }
}
