name: Release Carbonmark API
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    # Pattern matched against refs/tags
    tags:
      - "carbonmark-api/*"
jobs:
  release-carbonmark-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0 # We need this for fetching tags

      - name: Set RELEASE_VERSION
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/carbonmark-api/}" >> $GITHUB_ENV

      - name: Debug RELEASE_VERSION
        run: echo $RELEASE_VERSION

      # - name: Install Vercel CLI
      #   run: npm install --global vercel@latest

      # - name: Pull Vercel Environment Information
      #   run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      # - name: Build Project Artifacts
      #   run: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      # - name: Deploy Project Artifacts to Vercel
      #   run: |
      #     url="$(vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }})"
      #     vercel alias --token=${{ secrets.VERCEL_TOKEN }} --scope=${{ secrets.VERCEL_TEAM_ID }} set "$url" ${{env.RELEASE_VERSION}}.api.carbonmark.com

      - name: Get previous tag
        id: previousTag
        run: |
          name=$(git --no-pager tag --sort=creatordate --merged ${{ github.ref_name }} | grep '^carbonmark-api/' | tail -2 | head -1)
          echo "previousTag=$name" >> $GITHUB_ENV

      - name: Generate release notes
        id: release_notes
        run: |
          RELEASE_NOTES=$(git log ${{ env.previousTag }}..${{ github.ref_name }} --pretty=format:"- %s (%an, %cd)" -- carbonmark-api)
          echo "releaseNotes=$RELEASE_NOTES_SINGLELINE" >> $GITHUB_ENV
          echo "RELEASE_NOTES<<EOF" >> $GITHUB_ENV
          echo "$RELEASE_NOTES" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Display Changelog
        run: echo "${{ env.RELEASE_NOTES }}"
