.layoutContainer {
  border: 2px solid red;
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

.desktopNav {
  border: 2px solid black;
  padding: 16px;
}

.desktopNav ul {
  list-style-type: none;
  display: grid;
  gap: 8px;
}

.desktopNav ul li {
  font-size: 20px;
}

.contentColumn {
  display: grid;
  border: 2px solid gray;
}

.contentColumn footer {
  margin-top: auto;
  padding: 16px;
  min-height: 116px;
  color: white;
  background-color: rgb(73, 73, 73);
}

.contentArea {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
