.button {
  white-space: nowrap;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  height: 4.8rem;
  color: var(--brand-white);
  background-color: var(--brand-blue);

  &:hover {
    background-color: var(--brand-blue);
  }
}
